.searchContainer {
  width: 100%;
  padding-bottom: 1em;
}

.searchIconContainer {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 7.5%;
}

.searchInputField {
  width: 85%;
  display: inline-block;
}