.addFeedContainer {
  margin-top: 3em;
}

.titleText {
  line-height: 25px;
  font-size: .8125em;
  text-align: center;
  color: white;
}

.addFeedInputContainer {
  width: 90%;
  margin-left: 5%;
}

.addFeedInput {
  padding-bottom: 1em;
}