$inputMargin: 5%;
$inputTextColour: #9CA3A9;

.container {
  width: 98%;
  height: 1.5em;
  border-radius: 1.5em;
  border: 2px solid #798189;
  background-color: #535a63;
  cursor: text;
  display: inline-block;
}

.containerFocused {
  @extend .container;
  background-color: #474E56;
}

@mixin placeholder {
  color: $inputTextColour;
  caret-color: $inputTextColour;
  font-style: italic;
  font-size: 1.125em;
}

.component {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  ::placeholder { @include placeholder }
  ::-webkit-input-placeholder { @include placeholder }
  :-ms-input-placeholder { @include placeholder }
  ::-moz-placeholder { @include placeholder }
}

.input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border: none;
  height: inherit;
  margin-left: 5%;
  color: $inputTextColour;
  &:focus { outline: none; }
}