.postsContainer {
  width: 72.5%;
  overflow: scroll;
  margin-top: 1.75em;
  margin-left: 1.75%;
}

.posts {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  font-family: 'Lato';
  background-color: #EFF0F5;
  height: 100%;
}