$lineHeight: 25px;

.feed {
  width: 100%;
  text-align: left;
  color: white;
  padding-bottom: 10px;
  height: $lineHeight;
  text-align: left;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.feedName {
  display: inline-block;
  margin: 0;
  line-height: $lineHeight;
  font-size: 0.8125em;
  margin-left: 1em;
  width: 100%;
}

.removeIconContainer {
  float: right;
  padding-top: 3px;
  cursor: pointer;
}